.btn-text {
  @apply tracking-wider btn btn-neutral hover:bg-neutral-focus text-base-content;
  font-weight: 500;

  height: 2.5rem;
  padding-left: 0.85rem;
  padding-right: 0.85rem;
  min-height: 2.5rem;
  font-size: 0.875rem;
}
.btn-icon {
  @apply btn btn-neutral hover:bg-neutral-focus text-base-content;

  height: 3rem;
  min-height: 3rem;
}
