.btn-style {
  @apply tracking-wider btn btn-neutral hover:bg-neutral-focus focus:btn-primary focus:text-base-100 text-base-content;
  font-weight: 500;

  height: 2.5rem;
  padding-left: 0.85rem;
  padding-right: 0.85rem;
  min-height: 2.5rem;
  font-size: 0.875rem;
}
